@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos pagina nosotros*/
#mision-vision{
    section{
        background-color: $color-verde;
        padding: 3%;

        p{  padding: 10px 10%;
            color:$color-titulo;
        }
        .contenedor-carousel{
            width: 70%;
            margin: 5% auto;
            @include sombra;
            img{
                height: 40vh;
            }
        }
        .contenedor-mision-imagenes{
            @include flex(row,center);
            justify-content: space-around;
            padding-bottom: 5px;
            img{
                width: 300px;
                display:block;   
                @include sombra;     
            }
            .ocultar-imagen{
                display:none;
            }
        }
    }
    .mision{
        background-color: $color-verde-2;
    }
}
/**estilos página productos*/

#main-productos {
    
    .contenedor{
        
        padding: 3%;
        .producto{
            @include flex(column, center);
            align-content: space-around;
            padding: 5px;
            border-radius: 2%;
            background-color: $color-prod;
            @include sombra;
            img{
                @include size-w-h(90%, 150px);
            }
            p{
                font-size: 1rem;
            }
            .producto-name{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 1.5rem;

            }
            &:hover{
                @include resalto-producto;
            }
        }
    }
}

/*estiloas pagina drones*/

#drones{
    @include flex(column, center);
    align-content: space-around;
    
    .dron-descripcion{
        @extend #drones;
        background-color: $color-prod;
        
        @include sombra;
        margin: 2%;
        border-radius: 2%;
        img{
            width: 80%;
            display: block;
            margin-top: 2%;
        } 
        .resaltar-titulo{
            width: 70%;
            font-weight: bolder;
            font-size: x-large;
            padding-left: 2%;
            vertical-align: middle;
            color:$color-principal;
            span{
                font-size: medium;
                display:block;
            }
        } 
        .descripcion{
            width: 90%;
            padding-left: 5%;
            color:$color-principal;
        }
        &:hover{
            @include resalto-producto;
        }
    }

}

/*estilos pagina contacto*/
#main-contacto{
    @include flex(column, center);
    justify-content: space-between;
    h2{
        color: $color-verde;
    }
    .contacto{
       width: 90%;
       margin: 5%;
       padding: 3%;
       background-color: $color-prod;
       border-radius: 2%;
       @include sombra;
        form{
            margin: 0;
            padding: 30px;
            input, textarea{
                @include form-color;
            }
            input{
                display: block;
                width: 80%;
                margin-bottom: 10px;
                
             }
             textarea{
                width: 80%;
                
             }
             /* From Uiverse.io by cssbuttons-io */ 
            button {
                align-items: center;
                background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
                border: 0;
                border-radius: 8px;
                @include sombra;
                box-sizing: border-box;
                color: #ffffff;
                display: flex;
                font-size: 18px;
                justify-content: center;
                line-height: 1em;
                max-width: 100%;
                min-width: 140px;
                padding: 3px;
                text-decoration: none;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                white-space: nowrap;
                cursor: pointer;
                transition: all 0.3s;
                &:hover, &:active{
                    outline: 0;
                    span{
                        background: none;
                    }
                    }
                &:active{
                    transform: scale(0.9);
                }
                span{
                    background-color: rgb(5, 6, 45);
                    padding: 16px 24px;
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    transition: 300ms;
                  }
            }
        }
       
    }
 }