/*paleta de colores*/
$color-principal:#131210;
$color-titulo: #FBF6E9;
$color-fondo-titulo:rgba(169, 169, 169, 0.415);
$color-fondo-main:#FBF6E9;
$color-sombra:grey;
$color-verde:#118B50;
$color-fondo-p:rgba(240, 255, 255, 0.408);
$color-prod: rgb(247, 250, 249);

$paleta:#118B50#5DB996#E3F0AF#FBF6E9;
$color-verde-2:#5DB996;
