/*paleta de colores*/
$color-principal:rgb(22, 21, 21);
$color-titulo: azure;
$color-fondo-titulo:rgba(169, 169, 169, 0.415);
$color-fondo-main:rgb(208, 218, 208);
$color-sombra:grey;
$color-verde:green;
$color-fondo-p:rgba(240, 255, 255, 0.408);
$color-prod: rgb(247, 250, 249);
$color-verde-nav:rgb(25, 71, 25);
$color-verde-nav-fondo:rgb(91, 172, 91);
$color-verde-nav-borde: rgb(62, 127, 62);
